<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<p>There are <%=@products%> products in out store<p/>
<p>There are <%=@categories%> categories of plants in out store<p/>
